<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>ERRO DE ACESSO</title>
</head>

<body>
    <div class="row  justify-content-center">

        <div class="card col-sm-6 mt-5">
            {% set link="./"%}
            <div class="card-header">
                <h1 class="card-title">Página não encontrada</h1>
            </div>
            <div class="card-body">
                <p class="card-text">No momento estamos em manutenção. Por favor, tente mais tarde</p>
            </div>
            <span class=" text-center mt-5 mb-5">
             <a class="card-link" href="{{link}}">Voltar à página inicial</a>
        </span>

        </div>
    </div>

</body>

</html>