<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1 class="h3 text-center  text-sm-left mt-4 mb-4">{{titleHome}}</h1>
<div class="row">
    <div class="col-sm-8 col-12">
        {% for user in users%}
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-dark text-center text-sm-left">{{user.authorName}}</h4>
            </div>
            <div class="row no-gutters mb-2 ml-2">
                <div class="col-sm-2">
                    <!-- --------------------------------------- -->

                    <img class="card-img-top" src="{{path}}{{user.login}}{{user.id}}/{{user.avatarPath}}"
                         alt="{{user.authorName}}"
                         title="{{user.authorName}}" width="130" height="auto"/>


                </div>
                <div class="col-sm-10">
                    <div class="card-body">

                        <h5 class="card-subtitle">{{user.functionName}}</h5>
                        <p class="card-text mt-2">{{user.story}}</p>
                    </div>
                    <div class="card-footer ">
                        <div class="row">
                            <div class="col-sm-6 col-12 text-sm-left text-center "><a href="?page=home&method=portfolio&id={{user.id}}" class="card-link">Portfólios</a></div>
                            <div class="col-sm-6 col-12 text-sm-right text-center "><a href="#" class="card-link ">Mensagem</a></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-sm-4 col-12"></div>

</div>
</body>
</html>
