<style>
    .card-houver:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: #5a6268;
        -webkit-box-shadow: #5a6268;
        opacity: 90%;
    }

    .card{
        /*max-width: 12.5rem!important;*/
        height: auto;
    }

</style>

<div class="container">
    <div class="row">
        <h1 class="h3 text-center  text-sm-left mt-4 mb-4">{{titleHome}}</h1>
    </div>
    <div class="row">

        {% for user in users%}
        <div class="col-6 col-sm-3  mt-3 ">
        <div class="card px-1 py-1 card-houver">
            <div class="card-header  px-0 py-0">
                <h1 class="card-title text-dark text-center h5">{{user.authorName}}</h1>
                <img class="card-img" src="{{path}}{{user.login}}{{user.id}}/{{user.avatarPath}}"
                     alt="{{user.authorName}}"
                     title="{{user.authorName}}" width="90" height="auto"/>

            </div>
            <div class="row no-gutters ">
<!--                <div class="col-12 card-header py-2">-->
<!--                   -->
<!--                </div>-->
                <div class="card-body col-12 px-1">
                    <h3 class="card-subtitle h6 ">{{user.functionName}}</h3>
                </div>
                <div class="col-12 py-2 card-footer">
                    <p class=" card-text text-center">
                        <a href="?page=home&method=portfolio&id={{user.id}}" class="btn-link">Portfólios</a>
                    </p>
                </div>

            </div>
        </div>
        </div>
        {% endfor %}

        <!--    <div class="col-sm-4 col-12"></div>-->

    </div>
</div>
