
<div class="container">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img id="icon" src="./resources/img/icons/favicon-32x32.png"
                     class="img-fluid mt-2" alt="Login"/>
            </div>

            <!-- Login Form -->
            <form method="post" action="./?page=user&method=login">
                <input type="text" id="login" name="login" class="fadeIn second "  required>
                <input type="password" id="psw" name="psw" class="fadeIn third " required>
                <input type="submit" class="fadeIn fourth" value="Acessar">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <div class="row">
                    <div class="col-12 col-sm-6 justify-content-start"> <a class="underlineHover" href="./?page=user&method=change">Criar conta</a></div>
                    <div class="col-12 col-sm-6 justify-content-end"> <a class="underlineHover" href="#">Esqueceu a senha?</a></div>
                </div>

            </div>

        </div>
    </div>

</div>

