{% set add = "./?page=docs&method=change" %}
{% set upload = "./?page=upload" %}
<div class="mt-0 mt-sm-2 pr-1 pl-1" style="background-image: linear-gradient(#ffffff, #d3d9df);">
    <div class="row ">
        <div class="col-12 col-sm-6 text-center text-sm-left">
            <h1 class="h3" style="font-size: 180%">Painel de Controle</h1>
        </div>
        <div class="col-12 col-sm-6 text-right">
            <ul class="nav flex-row justify-content-center justify-content-sm-end mb-2  mb-sm-0 mt-2 mt-sm-0 ">
                <li class="nav-item"><a class="btn btn-primary mr-2 mr-sm-2 " href="{{add}}">Novo</a></li>
                <li class="nav-item"><a class="btn btn-warning mr-2 mr-sm-2 " href="{{upload}}">Arquivos</a></li>
                <li class="nav-item"><a class="btn btn-secondary" href="?page=user" class="btn-link">Voltar</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-sm-0">
        <table class="table table-responsive-sm table-hover">
            <thead>
            <th>Documento</th>
            <th>Subtítulo</th>
            <th>Preço</th>
            <th colspan="2" class=" text-right">Eventos</th>
            </thead>
            <tbody>
            {%for doc in docs %}

            <tr>
                <td>{{doc.title}}</td>
                <td>{{doc.subtitle}}</td>
                <td>{{doc.price}}</td>
                <td>
                    <ul class="nav justify-content-end">
                        <li class="nav-item mx-1">
                            <a class="btn btn-success mb-2" href="./?page=docs&method=change&id={{doc.id}}">Editar</a>
                        </li>
                        <li class="nav-item ">
                            <a class="btn btn-danger "
                               href="./?page=docs&method=delete&id={{doc.id}}">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>

