Options +FollowSymLinks


Options All -Indexes
DirectoryIndex index.php index.html index.htm index2.html
DirectoryIndex


ErrorDocument 403 /error.html
ErrorDocument 404 /error.html

<Files log_erros.log>
 Order allow,deny
 Deny from all
 Satisfy All
</Files>

