<!doctype html>
<html lang="pt">
<head>
    <!-- Right approach: Use both file extensions and corresponding MIME-types. -->
    <!-- (IE 10+, Edge (EdgeHTML), Edge (Chromium), Chrome, Firefox) -->

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Portfóio Unopar Francisco Vieira">
    <meta name="keywords"
          content="portfolio, ads, francsico vieira, análise e desenvolvimento de sistemas, documentos, curso de tecnologia">
    <meta name="author" content="Francisco Vieira">
    <meta name="google-site-verification" content="+nxGUDJ4QpAZ5l9Bsjdi102tLVC21AIh5d1Nl23908vVuFHs34="/>


    <script src="./resources/js/default.js" rel="stylesheet" type="text/javascript"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <link href="./resources/css/style.css" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/6d26552631.js"></script>


    <title>IdealCODE</title>
    <link rel="icon" type="image/png" sizes="32x32" href="./resources/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./resources/img//icons/favicon-16x16.png">
    <link rel="shortcut icon" href="./resources/img//icons/favicon.ico">

</head>
<body>
<div class="container">
    <header class="p-index-color">
        <div class="container">
            <div class="row ">

                <!--                <div class=" col-12 col-sm-6  justify-content-start">-->
                <!--                    <span class="nav nav mt-4 mb-2 ">-->
                <!--                        <a href="./?page=user">-->
                <!--                            <img src="<?php echo $_SESSION['avatar']; ?>" class="icon-social"/>-->
                <!--                        </a>-->
                <!--                    </span>-->
                <!--                </div>-->

                <div class=" col-12 d-inline-flex justify-content-center justify-content-sm-end">
                    <ul class="nav mt-2 mb-2">
                        <li class="nav-item"><a href="https://www.youtube.com/channel/UCaA204d8eSyd3iGN2jOuaJA"
                                                target="_black">
                            <img class="icon-social" src="./resources/img/youtube_francisco.png"
                                 alt="Youtube"
                                 title="Youtube Francisco Vieira"/>
                        </a></li>
                        <li class="nav-item"><a href="https://www.linkedin.com/in/francisco-v-castro/"
                                                target="_black">
                            <img class="icon-social"
                                 src="./resources/img/linkedin_francisco.png"
                                 alt="LinkedIn"
                                 title="Visualizar LinkedIn Francisco Vieira"/>
                        </a></li>
                        <li class="nav-item"><a href="mailto:francisco.vieira.dev@gmail.com">
                            <img class="icon-social" src="./resources/img/email_francisco.png"
                                 alt="E-mail"
                                 title="Enviar E-mail para Francisco Vieira"/>
                        </a></li>
                        <li class="nav-item"><a
                                href="https://api.whatsapp.com/send?phone=5593991663577&text=Ol%C3%A1%2C%20Francisco!%20Gostaria%20de%20conhecer%20um%20pouco%20mais%20sobre%20as%20possibilidades%20de%20fazer%20parte%20do%20meu%20time%2C%20somando%20direta%20e%20indiretamente%20com%20nossa%20equipe.%20Qual%20%C3%A9%20o%20melhor%20hor%C3%A1rio%20para%20entrarmos%20em%20contato%3F"
                                target="_black">
                            <img class="icon-social" src="./resources/img/whatsapp_francisco.png"
                                 alt="Whatsapp"
                                 title="Conversar com Francisco Vieira"/>
                        </a></li>
                    </ul>
                </div>


            </div>
        </div>

    </header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark  sticky-top bg-style">
        <a class="navbar-brand" href="./">IdealCODE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./?page=docs">Documentos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="./?page=user" tabindex="-1" aria-disabled="true">Controle</a>
                </li>
            </ul>


            <form class="form-inline my-2 my-lg-0 ml-lg-2">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>


    <section style="min-height: 41rem">
        {{content}}
    </section>

    <footer class=" text-white footer bg-style">
        <div class="pt-4 pb-4 text-center">
            <small class="text-white">&copy; Copyright 2021, Francisco Vieira</small>
        </div>

    </footer>
</div>


<!-- Option 2: jQuery, Popper.js, and Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>

</html>
