body {
    font-family: "Poppins", sans-serif;
    height: 100%;

}

.bg-default {
    background-color: #000 !important;
    /*opacity: 20%;*/
}

.sticker {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.icon-social {
    width: 35px;
    margin: 0 05px;
}

.p-index-color {
    background-color: #eee;
}

.p-size-info {
    height: 15.0em;
}

.footer {

    height: 4.5em;
}

/*CSS for crud*/
.crud-form {
    max-width: 35rem;
}



